# Base de datos
psycopg2-binary
SQLAlchemy

# Configuracion
python-dotenv

# NBA API
nba_api

# Utilidades
python-dateutil
pandas

# Web
fastapi
uvicorn[standard]
jinja2
python-multipart
httpx

# Testing
pytest

# ML / Outliers Detection (Inference only for local/Render)
joblib
